{
  "env": {
    "PATH": "/usr/local/bin:/usr/bin:/bin:$HOME/.local/bin",
    "DISPLAY": ":99",
    "__NV_PRIME_RENDER_OFFLOAD": "1",
    "__GLX_VENDOR_LIBRARY_NAME": "nvidia",
    "__VK_LAYER_NV_optimus": "NVIDIA_only"
  },
  "apps": [
    {
      "name": "Desktop",
      "cmd": "xterm",
      "output": "desktop.log"
    },
    {
      "name": "Steam Big Picture",
      "cmd": "sudo -u __BUDDY_USER__ HOME=/home/__BUDDY_USER__ USER=__BUDDY_USER__ XDG_RUNTIME_DIR=/run/user/1000 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus PULSE_SINK=StreamDeck-Bridge steam -gamepadui --disable-gpu --disable-software-rasterizer",
      "output": "steam-bp.log"
    },
    {
      "name": "Horizon Forbidden West",
      "cmd": "sudo -u __BUDDY_USER__ HOME=/home/__BUDDY_USER__ USER=__BUDDY_USER__ XDG_RUNTIME_DIR=/run/user/1000 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus PULSE_SINK=StreamDeck-Bridge steam steam://rungameid/2420110",
      "output": "hfw.log"
    },
    {
      "name": "Satisfactory",
      "cmd": "sudo -u __BUDDY_USER__ HOME=/home/__BUDDY_USER__ USER=__BUDDY_USER__ XDG_RUNTIME_DIR=/run/user/1000 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus PULSE_SINK=StreamDeck-Bridge steam steam://rungameid/526870",
      "output": "game-526870.log"
    },
    {
      "name": "TOTK (Eden)",
      "cmd": "sudo -u __BUDDY_USER__ HOME=/home/__BUDDY_USER__ USER=__BUDDY_USER__ XDG_CONFIG_HOME=__EDEN_XDG_CONFIG_HOME__ XDG_RUNTIME_DIR=/run/user/1000 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus PULSE_SINK=StreamDeck-Bridge __EDEN_BINARY__ -g \"__TOTK_GAME_PATH__\"",
      "output": "eden-totk.log"
    }

  ]
}
