{
  "env": {
    "PATH": "/usr/local/bin:/usr/bin:/bin:$HOME/.local/bin",
    "DISPLAY": ":99",
    "__NV_PRIME_RENDER_OFFLOAD": "1",
    "__GLX_VENDOR_LIBRARY_NAME": "nvidia",
    "__VK_LAYER_NV_optimus": "NVIDIA_only"
  },
  "apps": [
    {
      "name": "Desktop",
      "cmd": "xterm",
      "output": "desktop.log"
    },
    {
      "name": "Steam Big Picture",
      "cmd": "sudo -u __BUDDY_USER__ HOME=/home/__BUDDY_USER__ USER=__BUDDY_USER__ XDG_RUNTIME_DIR=/run/user/__BUDDY_UID__ DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/__BUDDY_UID__/bus PULSE_SINK=StreamDeck-Bridge steam -gamepadui --disable-gpu --disable-software-rasterizer",
      "output": "steam-bp.log"
    },
    {
      "name": "MoonDeckStream",
      "cmd": "sudo -u __BUDDY_USER__ HOME=/home/__BUDDY_USER__ USER=__BUDDY_USER__ XDG_RUNTIME_DIR=/run/user/__BUDDY_UID__ DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/__BUDDY_UID__/bus DISPLAY=:99 SUNSHINE_LAUNCHED=1 __NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia __VK_LAYER_NV_optimus=NVIDIA_only /usr/local/bin/MoonDeckStream",
      "output": "moondeckstream.log",
      "wait-all": false
    }
  ]
}
